{{>layouts/header}}

<form class="containers" action="/users/createId" method="post">
    <div class="mb-3">
        <label class="form-label">ID</label>
        <input type="text" class="form-controller" name="Id">
    </div>

    </hr>

    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <input type="password" class="form-controller" name="pw">
    </div>

    </hr>

    <div class="mb-3">
        <label class="form-label">이름</label>
        <input type="text" class="form-controller" name="name">
    </div>

    </hr>

    <div class="mb-3">
        <label class="form-label">생년월일</label>
        <input type="text" class="form-controller" name="age">
    </div>

    </hr>

    <div class="mb-3">
        <label class="form-label">전화번호</label>
        <input type="text" class="form-controller" name="tel">
    </div>

    </hr>

    <button type="submit" class="btn btn-primary">회원가입</button>
    <a href="/users/login">돌아가기</a>
</form>

{{>layouts/footer}}