<!--
    doc + tab >> 기본 구조가 자동으로 완성된다.
-->

<!--
bootstrap 사용전
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>님, 반갑습니다!</h3>
</body>
</html>
-->

<!-- 사용후 -->
{{>layouts/header}}

    <a href="/articles/index" class="btn btn-info">목록 화면 이동</a>
    <a href="/users/login" class="btn btn-primary">로그인 화면 이동</a>

{{>layouts/footer}}



