<!--
    doc + tab >> 기본 구조가 자동으로 완성된다.
-->

<!--
bootstrap 사용전
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>{{username}}님, 반갑습니다!</h3>
</body>
</html>
-->

<!-- 사용후 -->
{{>layouts/header}}
<!-- content -->
<div class="bg-dark text-white p-5">
    <h3>{{username}}님, 반갑습니다!!</h3>
</div>
{{>layouts/footer}}



