{{>layouts/header}}

{{#article}}
<form class="containers" action="/articles/update" method="post">
    <!-- form 태그는 get / post 만 제공 -->

    <input name="id" type="hidden" value="{{id}}" />

    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-controller" name="title" value="{{title}}">
    </div>

    <div class="mb-3">
        <label class="form-label"></label>
        <textarea class="form-controller" rows="3" name="content">{{content}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles/{{id}}">Back</a>
</form>
{{/article}}

{{>layouts/footer}}