{{>layouts/header}}

<form class="containers" action="/articles/create" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-controller" name="title" placeholder="제목을 입력하세요">
    </div>

    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-controller" rows="3" name="content" placeholder="내용을 입력하세요"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">작성자</label>
        <input type="text" class="form-controller" name="author" placeholder="작성자를 입력하세요">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles/index" class="btn btn-danger">Back</a>
</form>

{{>layouts/footer}}