{{>layouts/header}}

<form class="containers" action="/articles/create" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-controller" name="title">
    </div>

    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-controller" rows="3" name="content"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">제출</button>
</form>

{{>layouts/footer}}